.container-1 {
  display: block; /* `block` is the default `display` value for a DIV. */
}

.container-2 {
  display: flex;
}

.container-3 {
  display: flex;
  justify-content: flex-end;
}

.container-4 {
  display: flex;
  justify-content: center;
}

.container-5 {
  display: flex;
  justify-content: space-between;
}

.container-6 {
  display: flex;
  justify-content: space-evenly;
}

.container-7 {
  display: flex;
  align-items: flex-end;
}

.container-8 {
  display: flex;
  align-items: center;
}

.container-9 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-10 {
  display: flex;
  flex-direction: row-reverse;
}

.container-11 {
  display: flex;
  flex-direction: column;
}

.container-12 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}