body {
  background-color: brown;
}

h1 {
  text-align: center;
  color: white
}

.container {
  background-color: black;
  width: 500px;
  height: 400px;
  padding: 5px;
  margin: 0 auto;
}

.items {
  width: 100px;
  height: 100px;
  border: 5px solid white;
}

.item1 {
  background-color: blue;
}

.item2 {
  background-color: red;
}

.item3 {
  background-color: yellow;
}

.basic-flex {
  display: flex;
}

.justify-end {
  display: flex;
  justify-content: flex-end;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.justify-between {
  display: flex;
  justify-content: space-between;
}

.justify-around {
  display: flex;
  justify-content: space-evenly;
}

.align-end {
  display: flex;
  align-items: flex-end;
}

.align-center {
  display: flex;
  align-items: center;
}

.justify-around-align-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.direction-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.direction-column {
  display: flex;
  flex-direction: column;
}

.column-justify-between-align-end {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
