.container-1 {
  display: block; /* `block` is the default `display` value for a DIV. */
}

.container-2 {
  display: flex;
}

.container-3 {
  display: flex;
  justify-content: flex-end;
}

.container-4 {
  display: flex;
  justify-content: center;
}

.container-5 {
  display: flex;
  justify-content: space-between;
}

.container-6 {
  display: flex;
  justify-content: space-evenly;
}

.container-7 {
  display: flex;
  align-items: flex-end;
}

.container-8 {
  display: flex;
  align-items: center;
}

.container-9 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-10 {
  display: flex;
  flex-direction: row-reverse;
}

.container-11 {
  display: flex;
  flex-direction: column;
}

.container-12 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.container-13 { /* flex container */
  display: flex;
}

.container-13 .item { /* flex items */
  width: 50px;
}

.container-13 .item-1 {
  min-width: 50px;
  max-width: 300px;
  flex-basis: 250px;
}

.container-13 .item-2 {
  flex-basis: 250px;
}

.container-13 .item-3 {
}

.container-14 {
  display: flex;
}

.container-14 .item {
  min-width: 50px;
  flex-basis: 75px;
}

.container-14 .item-1 {
  flex-grow: 3;
}

.container-14 .item-2 {
  min-width: 150px;
  flex-grow: 8;
}

.container-14 .item-3 {
  flex-grow: 1;
}
