@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Code+Pro:ital,wght@1,500&display=swap');

* {
  box-sizing: border-box;
}

:root {
  /* SIZES */
  --article-width: 400px;
  --article-height: 300px;
  --item-size: 50px;
  --border-default: 8px solid;

  /* COLORS */
  --text-color: rgba(0, 0, 0, 0.774);
  --background-color: gainsboro;
  --container-color: lightblue;
  --container-border-color: rgb(124, 163, 177);
  --container-border-hover-color: rgb(208, 232, 240);
  --item-1-color: thistle;
  --item-1-border-color: rgb(154, 122, 154);
  --item-1-border-hover-color: rgb(235, 217, 235);
  --item-2-color: lightgreen;
  --item-2-border-color: rgb(78, 155, 78);
  --item-2-border-hover-color: rgb(191, 247, 191);
  --item-3-color: lightcoral;
  --item-3-border-color: rgb(186, 90, 90);
  --item-3-border-hover-color: rgb(241, 188, 188);

  /* TEXT */
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  text-align: justify;

  /* MISC */
  padding-bottom: 50em;
}

body {
  background-color: var(--background-color);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

article {
  width: var(--article-width);
  margin-bottom: 50px;
  opacity: 75%;
}

article:hover {
  opacity: 100%;
}

h1 {
  line-height: 1em;
  text-align: center;
}

h1 span {
  text-shadow: black 0 0 7px;
}

a {
  color: var(--text-color);
  text-decoration: none;
  border-bottom: 2px dashed grey;
}

a:hover {
  border-bottom-color: black;
}

a:active {
  border-bottom-color: hotpink;
}

details {
  margin-bottom: 10px;
}

code {
  background-color: pink;
  outline: 1px solid hotpink;
  padding-left: 2px;
  padding-right: 2px;
  font-family: "Source Code Pro", monospace;
  font-size: 0.8em;
  white-space: nowrap;
}

blockquote {
  border-left: 1px solid grey;
  padding-left: 10px;
}

.container {
  background-color: var(--container-color);
  border: var(--border-default);
  border-color: var(--container--color);
  padding: 10px;
  height: var(--article-height);
  width: 100%;
  resize: both;
  overflow: scroll;
}

::-webkit-resizer {
  background-color: var(--container-border-color);
  border-radius: 50px 0 0 0;
}

.item {
  width: var(--item-size);
  height: var(--item-size);
  border: var(--border-default);

  display: flex;
  justify-content: center;
  align-items: center;
}

.item div {
  font-size: 1.5em;
}

.item-1 {
  background-color: var(--item-1-color);
  border-color: var(--item-1-border-color);
}

.item-1:hover {
  border-color: var(--item-1-border-hover-color);
}

.item-2 {
  background-color: var(--item-2-color);
  border-color: var(--item-2-border-color);
}

.item-2:hover {
  border-color: var(--item-2-border-hover-color);
}

.item-3 {
  background-color: var(--item-3-color);
  border-color: var(--item-3-border-color);
}

.item-3:hover {
  border-color: var(--item-3-border-hover-color);
}
