/* EXAMPLE 1 */

.container-1 {
  display: block; /* `block` is the default `display` value for a DIV. */
}


/* EXAMPLE 2 */

.container-2 {
  display: flex;
}


/* EXAMPLE 3 */

.container-3 {
  display: flex;
  justify-content: flex-end;
}


/* EXAMPLE 4 */

.container-4 {
  display: flex;
  justify-content: center;
}


/* EXAMPLE 5 */

.container-5 {
  display: flex;
  justify-content: space-between;
}


/* EXAMPLE 6 */

.container-6 {
  display: flex;
  justify-content: space-evenly;
}


/* EXAMPLE 7 */

.container-7 {
  display: flex;
  align-items: flex-end;
}


/* EXAMPLE 8 */

.container-8 {
  display: flex;
  align-items: center;
}


/* EXAMPLE 9 */

.container-9 {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
}


/* EXAMPLE 10 */

.container-10 {
  display: flex;
  flex-direction: row-reverse;
  /* justify-content: flex-end; */
}


/* EXAMPLE 11 */

.container-11 {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
}


/* EXAMPLE 12 */

.container-12 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}


/* EXAMPLE 13 */

.container-13 {
  display: flex;
  flex-direction: row;
}

.container-13 .item {
  flex-basis: 100px;
  min-width: 50px;
  max-width: 150px;
  height: 100%;
}

.container-13 .item-1 {
  flex-basis: 50px;
  min-width: 50px;
  max-width: 60px;
}

.container-13 .item-2 {
  flex-basis: 200px;
  min-width: 50px;
  max-width: 300px;
}

.container-13 .item-3 {
  flex-basis: 100px;
  min-width: 50px;
  max-width: 150px;
}


/* EXAMPLE 14 */

.container-14 {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.container-14 .item {
  min-width: 50px;
  margin-right: 10px;
}

.container-14 .item-1 {
  flex-grow: 3;
  max-width: 400px;
}

.container-14 .item-2 {
  flex-grow: 1;
  max-width: 200px;
}
